@charset "utf-8";
/*css document*/

.hidden {
	display: none;
}

#container{
  width: 75%;
  margin: 0 auto;
	background: #f6f8f9;
background: -moz-linear-gradient(top, #f6f8f9 0%, #d7dee3 100%);
background: -webkit-linear-gradient(top, #f6f8f9 0%,#d7dee3 100%);
background: linear-gradient(to bottom, #f6f8f9 0%,#d7dee3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#d7dee3',GradientType=0 );
}

#mainHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 200px;
  margin-top: 20px;
  border-radius: 15px;
	background: rgb(99,171,226);
background: -moz-linear-gradient(top, rgba(99,171,226,1) 0%, rgba(15,135,226,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,171,226,1)), color-stop(100%,rgba(15,135,226,1)));
background: -webkit-linear-gradient(top, rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: -o-linear-gradient(top, rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: -ms-linear-gradient(top, rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: linear-gradient(to bottom, rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63abe2', endColorstr='#0f87e2',GradientType=0 );
}

#logo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
  height: 75%;
}

#welcome{
  display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
  margin-top: 40px;
  font-family: Helvetica, arial, sans-serif;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

#welcome h2 {
  font-size: 45px;
	text-shadow: 2.5px 1px 1px grey;
	letter-spacing: 5px;
}

#intro{
	display: flex;
  justify-content: center;
	align-items: center;
	margin-top: 20px;
  margin-bottom: 20px;
}

#icons1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
	background: #e1ffff;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
background: -moz-linear-gradient(left, #e1ffff 0%, #fdffff 54%, #fdffff 56%, #fdffff 56%, #b1d8f5 100%);
background: -webkit-linear-gradient(left, #e1ffff 0%,#fdffff 54%,#fdffff 56%,#fdffff 56%,#b1d8f5 100%);
background: linear-gradient(to right, #e1ffff 0%,#fdffff 54%,#fdffff 56%,#fdffff 56%,#b1d8f5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=1 );
}

.basketball:hover {
  filter: drop-shadow(5px 5px 5px #222);
}

.basketball:active {
	position: relative;
	bottom: 30px;
}

.puck:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.puck:active {
	position: relative;
	right: 30px;
}

.tennisBall:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.tennisBall:active {
	position: relative;
	bottom: 30px;
}

.volleyball:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.volleyball:active {
	position: relative;
	bottom: 30px;
}

.soccer:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.soccer:active {
	position: relative;
	bottom: 30px;
}

#icons2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 40px;
  border-radius: 15px;
	background: #e1ffff;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
background: -moz-linear-gradient(left, #e1ffff 0%, #fdffff 54%, #fdffff 56%, #fdffff 56%, #b1d8f5 100%);
background: -webkit-linear-gradient(left, #e1ffff 0%,#fdffff 54%,#fdffff 56%,#fdffff 56%,#b1d8f5 100%);
background: linear-gradient(to right, #e1ffff 0%,#fdffff 54%,#fdffff 56%,#fdffff 56%,#b1d8f5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=1 );
}

.bat:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.bat:active {
	position: relative;
	transform: rotate(-50deg);
}

.golf:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.golf:active {
	position: relative;
	transform: rotate(-90deg);
}

.hockey:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.hockey:active {
	position: relative;
	transform: rotate(-90deg);
}

.lacrosse:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.lacrosse:active {
	position: relative;
	transform: rotate(60deg);
}

.racket:hover {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
 	filter: drop-shadow(5px 5px 5px #222);
}

.racket:active {
	position: relative;
	transform: rotate(-90deg);
}

img{

  margin-top: 40px;
  margin-bottom: 40px;
}
